{% extends "base.html.twig" %}

{% block title %}
	{{ movie.title }}
{% endblock %}

{% block body %}

	<div class="container">
		<h1>{{ movie.title }}</h1>
		<h3>{{ movie.duration|convert }}</h3>
		{# Affichage des genres #}
		<p>
			{% for genre in movie.genres %}
				{{ genre.name }}{{ loop.last ? '.' : ', ' }}
			{% endfor %}
		</p>

		{# Affichage des castings #}
		{# {% for casting in movie.castings %} #}
		{% for casting in castings %}
			<p>{{ casting.person.firstname }}
				{{ casting.person.lastname }}
				({{ casting.role }}) ({{ casting.creditOrder }})</p>
		{% endfor %}

		<div class="container-fluid">
			<div class="row">
				{% for review in reviews %}
					<div class="card mx-1 mb-3 w-100">
						<div class="card-body">
							<h5 class="card-title">{{review.username}}</h5>
							<h6 class="card-subtitle mb-2 text-muted">Note :
								{{review.rating}}
								sur 5</h6>
							<h6 class="card-subtitle mb-2 text-muted">Vu le :
								{{(review.watchedAt|date('d/m/Y'))}}</h6>
							<p class="card-text">{{review.content}}</p>
							Réaction :
							{% for reaction in review.reactions %}
								{{ reaction }}
								|
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<h2>Ajouter une critique :
		</h2>
		<button onclick="app.toggle()" class="btn btn-primary">Ajouter une critique</button>
		{{ form_start(form, {attr: {novalidate: 'novalidate' , 'id' : 'formReview'}}) }}
		{{ form_widget(form) }}
		<button class="btn btn-success" type="submit">Enregistrer</button>
		{{ form_end(form) }}

	</div>
{% endblock %}
